/BlueApps.MaterialFlow.Common/obj
/BlueApps.MaterialFlow.Common/bin
/BlueApps.MaterialFlow.Common.Models/obj
/BlueApps.MaterialFlow.Common.Models/bin
/BlueApps.MaterialFlow.Webservice/obj
/BlueApps.MaterialFlow.Webservice/bin
/BlueApps.MaterialFlow.WorkerService/obj
/BlueApps.MaterialFlow.WorkerService/bin
